:root {
  --primary: #3B74E7;
  --primary-low: #E5EFFA;
  --success: #7CD9B7;
  --danger: #F28989;
  --danger-low: #FFDFDF;
  --warning: #EEB45D;
  --rating: #F5CD61;
  --background: #EBF1F5;
  --secondary-high: #BAC1C8;
  --secondary-medium: #D7D9DB;
  --secondary-low: #F7F9FA;
  --additional-high: #131415;
  --additional-medium: #697077;
  --additional-low: #97A1AB;
  --text-primary: #131415;
  --text-secondary: #697077;
  --text-additional: #97A1AB;
  --text-cta: #2E5BB5;
  --text-white-medium: #F5F5F5;
  --text-white: #FFFFFF;
  --white: #FFFFFF;
  --seperator-medium: #D7D9DB;
  --seperator-low: #EDF0F2;
}
